:root{
    --card-bg: rgba(255, 255, 255, 0.5);
}

.avatar-img img:hover {
  transform: none !important;
}

html[data-theme='dark']{
    --card-bg: rgba(0, 0, 0, 0.5);
}

.card-announcement .item-headline i.fa-shake {
  animation: none !important;
}

.card-announcement .item-headline i {
  color: inherit !important;
}
